/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    background-color: lightgrey;
}

h1{
    display: inline;
    vertical-align: middle;
}

header{
    background-color: white;
    height: 100px;
    line-height: 100px;
}

#logo{
    vertical-align: middle;
}

/* Utilities */

