/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    background-color: lightgrey;
}

h1{
    display: inline;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
}

header{
    background-color: white;
    height: 100px;
    line-height: 100px;
}

#logo{
    margin-left: 20px;
    vertical-align: middle;
}

/* Utilities */



